<script type="text/javascript">
    $(function () {
        // Proxy created on the fly          
        var chat = $.connection.chat;

        // Declare a function on the chat hub so the server can invoke it          
        chat.client.addMessage = function (message) {
            $('#messages').append('<li>' + message + '</li>');
        };

        // Start the connection
        $.connection.hub.start().done(function () {
            $("#broadcast").click(function () {
                // Call the chat method on the server
                chat.server.send($('#msg').val());
            });
        });
    });
</script>

<p>This is the partial for view 1.</p>

<p>Hello, {{ firstName }} {{ lastName }}</p>

<form>
    <input type="text" ng-model="firstName" />
    <input type="text" ng-model="lastName" />
</form>